/*Lo que se aplica a todo, por ejemplo, el fondo*/

@import "tailwindcss";
@plugin "daisyui";

#root {
  min-height: 100vh;
}

/* @plugin "daisyui" {
  themes: caramellatte --default, luxury --prefersdark;
} */

@plugin "daisyui" {
  themes: caramellatte --default, halloween --prefersdark;
}

/* @plugin "daisyui" {
  themes: garden --default, halloween --prefersdark;
} */

/* @plugin "daisyui" {
  themes: retro --default, halloween --prefersdark;
} */

/* @plugin "daisyui" {
  themes: caramellatte --default, coffee --prefersdark;
} */

/* @plugin "daisyui" {
  themes: garden --default, coffee --prefersdark;
} */
