/*Lo que se aplica a todo, por ejemplo, el fondo*/

@import "tailwindcss";
@plugin "daisyui";

#root {
  min-height: 100vh;
}

@plugin "daisyui" {
  themes: caramellatte --default, halloween --prefersdark;
}

@plugin "daisyui/theme" {
  name: "caramellatte";
  --noise: 0;
  --color-accent: oklch(55% 0.195 38.402);
  --color-neutral: oklch(46.44% 0.111 37.85);
}

@plugin "daisyui/theme" {
  name: "halloween";
  /* --color-accent: oklch(97% 0.013 17.38); AZUL */
  --color-accent: oklch(0.8008 0.1512 65.88);
  /* --color-accent: oklch(0.8136 0.1487 69.62); */
  --color-base-content: oklch(90% 0.076 70.697);
  --color-neutral: oklch(90% 0.076 70.697);
}

html {
  font-size: 18px;
}

[data-theme="halloween"] .icon-theme-aware {
  filter: brightness(0) invert(1);
}

[data-theme="caramellatte"] .icon-theme-aware {
  filter: brightness(0) invert(0);
}

/* Para el modo oscuro y claro, si no no va bien */
.tooltip::before {
  background-color: var(--color-neutral);
  color: var(--color-base-100);

}

.avatar-placeholder span {
  color: var(--color-base-100);  
}
