/*Lo que se aplica a todo, por ejemplo, el fondo*/

@import "tailwindcss";
@plugin "daisyui";

#root {
  min-height: 100vh;
}

/* @plugin "daisyui" {
  themes: caramellatte --default, luxury --prefersdark;
} */

@plugin "daisyui" {
  themes: caramellatte --default, halloween --prefersdark;
}

@plugin "daisyui/theme" {
  name: "caramellatte";
  --noise: 0;
  --color-accent: oklch(55% 0.195 38.402);
  --color-neutral: oklch(46.44% 0.111 37.85);
}

@plugin "daisyui/theme" {
  name: "halloween";
  /* --color-accent: oklch(87% 0.01 258.338); */
  --color-accent: oklch(97% 0.013 17.38);
  --color-base-content: oklch(90% 0.076 70.697);
  --color-neutral: oklch(90% 0.076 70.697);
}

html {
  font-size: 18px;
}

/* @plugin "daisyui" {
  themes: garden --default, halloween --prefersdark;
} */

/* @plugin "daisyui" {
  themes: retro --default, halloween --prefersdark;
} */

/* @plugin "daisyui" {
  themes: caramellatte --default, coffee --prefersdark;
} */

/* @plugin "daisyui" {
  themes: garden --default, coffee --prefersdark;
} */

[data-theme="halloween"] .icon-theme-aware {
  filter: brightness(0) invert(1);
}

[data-theme="caramellatte"] .icon-theme-aware {
  filter: brightness(0) invert(0);
}
